/* Existing styles */
ion-content {
    ion-list {
        background: transparent;
    }
}

/* Footer Styles */
ion-footer {
    --background: transparent; /* Makes the footer background transparent */
  }
  
  .chat-input-container {
    display: flex;
    align-items: center;
    background-color: #fff; /* Or any color you want for the input area background */
    border-radius: 30px; /* Rounded corners for the input area */
    margin: 8px; /* Margin around the input area */
    padding: 0 12px; /* Padding inside the input area */
  }
  
  .chat-input {
    flex: 1; /* Allows the input to fill the space */
    border: none; /* Removes the default border */
    --padding-start: 8px; /* Padding inside the input */
    --background: transparent; /* Makes the textarea background transparent */
  }
  
  .camera-button {
    margin-right: 4px; /* Spacing between camera button and send button */
  }
  
  .send-button {
    --background: #04b556; /* Send button color */
    margin-left: 4px; /* Spacing between camera button and send button */
  }
  
  

/* Style for chat messages */
.chat-item {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --min-height: 0;
    display: flex;
    flex-direction: column;
}

.my-message,
.other-message {
    display: flex;
    justify-content: flex-end;
    /* For my-message */
    justify-content: flex-start;
    /* For other-message */
    background-color: #DCF8C6;
    /* Adjust the color for other-message */
    border-radius: 18px;
    padding: 8px 10px;
    /* Adjust padding as needed */
    margin: 5px 0;
    position: relative;
    /* For positioning the timestamp */
    max-width: 80%;
    /* Adjust as needed */
    min-width: 20%;
}

.message-content {
    display: block;
}

.message-timestamp {
    margin-left: 10px;
    /* Spacing between message and timestamp */
    font-size: 0.8em;
    color: #666;
    /* Adjust based on your design */
}

p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.65em;
    color: #999;
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding-left: 10px;
}

.my-message p,
.other-message p {
  margin: 0; /* Keep existing top and bottom margins as 0 */
  padding-top: 5px; /* Add padding at the top to push text lower */
  padding-bottom: 12px; /* Space for the timestamp */
  padding-left: 0; /* Adjust if needed */
  padding-right: 0; /* Adjust if needed */
  word-wrap: break-word;
}

.my-message {
    margin-left: auto;
    background-color: #dcf8c6;
    /* Your choice of color for the current user's messages */
}

.other-message {
    margin-right: auto;
    background-color: #e5e5ea;
    /* Your choice of color for other messages */
}



ion-toolbar {
    ion-icon {
        font-size: 24px;
        margin: 0 16px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
